@import url('fonts.css');



body { 
    padding: 50px;
    margin:0;
    padding: 0;
    font-family: "OpenSans-Regular";
}

h1 {
    font-size: 75px;
}



a, a:visited {
    color: blue;
    text-decoration: none;

}

#nameLink {
    font-size: large;
    padding-right: 710px;
}

#title {
    font-size: 100px;
    margin: 0;
    padding-right: 200px;
}



#devDiv {
    font-size: 50px; 
}

.footerDiv {
    padding-top: 25px; 
    font-family: "UbuntuMono-Regular";
    text-align: center;
    padding-bottom: 10px;
}

.headerDiv {
    text-align: center;
}

.shortBio {
    font-size: 25px;
    padding-bottom: 30px;
}

.indexDiv {
    padding-top: 150px;
    width: 100%;
}

.wrapper {
    margin: 0 auto;
    width: 50%;
}

.projectDiv {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; 
    padding-bottom: 75px;
    width: 1000px;
}

.projectPageDiv {
    display: flex;
    flex-direction: row;
}

#161853

.postDiv {
    max-width: 500px;
    border-radius: 10px;
    padding: 10px;
    border: 2px outset aliceblue #000005;
    
}

.Card {
    width: 250px;
    height: 200px;
}

.card {
    font-size: 20px;
    width: 300px;
    height: 200px;
    padding: 75px 75px 50px 0px;
  }
  

.container {
padding: 2px 16px;
}

.contactDiv {
    width: 55%;
}